dist: trusty
addons:
  apt:
    packages:
      - curl
      - libcurl4-openssl-dev
      - environment-modules
language: python
python:
  - "2.7"
  - "3.5"
services:
  - docker
cache:
  directories:
    - $HOME/sw/TARS
before_install: |
  cd ..
  git clone -b IB/v5-06/next https://github.com/alisw/alidist
install: |
    pip install pyyaml
    pip install codecov
    pip install coverage
    pip install mock
    pip install pyflakes
    pip install pylint
    gem install jekyll html-proofer
script: |
  alibuild/script/cibuild
after_success:
  - bash <(curl -s https://codecov.io/bash)
env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
