Source: python3-bits
Maintainer: Giulio Eulisse <giulio.eulisse@cern.ch>
Build-Depends: debhelper,dh-python,python3-all,python3-setuptools,python3-setuptools-scm
Section: devel
Priority: optional
Standards-Version: 3.9.6
X-Python3-Version: >= 3.6

Package: python3-bits
Architecture: all
Description: Software build tool.
	Please refer to https://github.com/bitsorg/bits for full documentation.
Depends: ${python3:Depends},python3-requests,python3-yaml
Recommends: pigz
